pascal_voc/*
log.txt
*.jpg
*.png
*.jpeg
*.zip
*.tar
*.gz
*.7z
*.rar
*.swp
*.swap
*.out
__pycache__/*
*.pyc
.idea
__pycache__/
*.log
/cnn_server/test/files/flower_protobuf/
/cnn_server/test/files/protobuf/
